*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    min-height: 70vh;
    background: #161623;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#f00,#df07df );
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63 );
    clip-path: circle(20% at 10% 10%);
}


.container{
    margin-top: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 60vh;
    flex-wrap: wrap;
    z-index: 1;
}



.container .card{
    position: relative;
    width: 20%;
    height: 60vh;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    /* background: rgba(255, 255, 255, 0.1); */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 5;
}



/* .container .card .content {
 width: 100%;
 height: 200%;
 text-align: center;
 transform: translateY(100px);
 opacity: 0;
 transition: 2s;
 
} */

.container .card .content1{
    width: 100%;
    height: 200%;
    text-align: center;
    opacity: 0;
    transition: 2s;
    animation-name: card;
    animation-duration: 8s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-iteration-count: 5s;
    animation-fill-mode: both;

}

@keyframes card {
    0%{ 
        transform: translateY(0px);
    }
    100%{
        transform: translateY(50px);
        background-color: #F94A30 ;
        opacity: 1;
    }
    
}
.container .card .content2{
    width: 100%;
    height: 200%;
    text-align: center;
    opacity: 0;
    transition: 2s;
    animation-name: card;
    animation-duration: 9s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-iteration-count: 5s;
    animation-fill-mode: both;
}

@keyframes card {
    0%{ 
        transform: translateY(0px);
        background-color: transparent;
        opacity: 0;
    }
    100%{
        transform: translateY(50px);
        background-color: #f65036 ;
        opacity: 1;
    }
   
}
.container .card .content3{
    width: 100%;
    height: 200%;
    text-align: center;
    opacity: 0;
    transition: 2s;
    animation-name: card;
    animation-duration: 10s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-iteration-count: 5s;
    animation-fill-mode: both;
}

@keyframes card {
    0%{ 
        transform: translateY(0px);
        background-color: transparent;
        opacity: 0;
    }
    100%{
        transform: translateY(50px);
        background-color: #F94A30 ;
        opacity: 1;
    }
    
}

/* .container .card:hover .content {
    transform: translateY(0px);
    opacity: 1 ;
    background-color: #F94A29;
} */
 h1 {
    margin-top: 350px;
    font-size: 5em;
    right: 30px;
    color: rgb(52, 7, 7);
    pointer-events: none;
    z-index: 2;
}
h3{
     padding-top: 10px; 
    font-size: 3em;
    color: #fff;
    z-index: 2;
}
 a{
    position: relative;
    display: inline-block;
    padding: 8px 20px ;
    margin-top: 50px;
    background: #fff;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.titre{
    color: #161623;
    font-size: 20PX;
    z-index: 7;
    pointer-events: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
header{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .card .content1 img{
    width: 500%px;
    height: 50px;
}